

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    -webkit-tap-highlight-color: transparent;
}

html, body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .headerLink a, .linkBtn {
    font-family: var(--main-font-title);
    letter-spacing: 1px;
}

h1 { font-size: 2.2em; }
h2 { font-size: 1.9em; }







/* #region === HEADER === */


#headerDiv {
    display: flex;
    width: 100%;
    height: max-content;
    min-height: 50px;
    position: fixed;
    z-index: 999999;
}

#headerDiv::before {
    content: "";
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: var(--header-color);
    box-shadow: var(--container-shadow);
    z-index: 2;
    pointer-events: none;
}


#headerLinks {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.headerLink {
    position: relative;
    height: 100%;
}


.headerLink > a, .headerDropdown > a {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: var(--header-text-color);
    font-size: 1rem;
    font-weight: bold;
    height: 100%;
    position: relative;
    z-index: 3;
    align-items: center;
    cursor: pointer;
    box-sizing: unset;
}



.headerLink > a::after, .headerDropdown > a::after {
    content: '';
    position: absolute;
    width: calc(100% - var(--header-links-gap) * 2);
    left: calc(var(--header-links-gap) / 2);
    bottom: calc(50% - 12px);
    height: 2px;
    background-color: var(--main-highlight-color);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
}

.headerDropdown > a::after {
    width: 100%;
    left: 0;
}


.headerLink > a:hover::after, .headerDropdown > a:hover::after,
.headerLink > a.activeLink::after, .headerDropdown > a.activeLink::after {
  transform: scaleX(1);
}


.headerLink > a:hover, .headerDropdown > a:hover,
.headerLink > a.activeLink, .headerDropdown > a.activeLink {
    transition: color 0.3s ease;
    color: var(--main-highlight-color);
}



.headerLink > a {
    padding: 0 calc(var(--header-links-gap) / 2);
}

.headerDropdown > a {
    padding: calc(var(--header-links-gap) / 2) 0;
    width: max-content;
}


.dropdownArrow {
    display: inline-block;
    margin-left: 5px;
    font-size: 0.8rem;
    transition: transform 0.3s ease;
}

.headerLink:hover .dropdownArrow {
    transform: rotate(-180deg);
}




.headerDropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: max-content;
    top: 100%; left: 50%;
    transform: translate(-50%, -200%);
    background-color: var(--header-dropdown-color);
    padding: 10px 15px;
    z-index: 1;
    transition: transform 0.3s ease;
    border-radius: 0 0 15px 15px;
}

.headerDropdown.active {
    transform: translate(-50%, 0);
}



/* #endregion */








/* #region MAIN CONTENT */

.pageDiv {
    display: flex;
    width: 100%;
    min-height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--main-text-color);
}

.backgroundImg {
    position: fixed;
    left: 0; top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 130%;
    opacity: 0.4;
    overflow: hidden;
    z-index: -1;
    will-change: transform;
}

.defaultHr {
    height: 2px;
    background-color: var(--main-theme-color);
    border: none;
    margin: 30px 0;
}

.linkBtn {
    display: flex;
    width: max-content;
    color: var(--main-btn-color) !important;
    background-color: var(--main-theme-color);
    margin: 10px auto 0; padding: 10px 20px;
    color: var(--c-main-text);
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.4s ease;
}

.linkBtn:hover {
    transform: scale(1.05);
    background-color: hsl(from var(--main-theme-color) h s calc(l + 10));
}




.mainContentDiv {
    display: flex;
    width: 100%; height: fit-content;
    margin-bottom: var(--content-div-space);
    padding: 20px calc(3% + 10px);
    background-color: var(--main-back-color);
    box-shadow: var(--container-shadow);
    flex-direction: row;
    border-top: var(--main-border-color) 2px solid;
    border-bottom: var(--main-border-color) 2px solid;
}

.pageTopGap {
    margin-top: calc(var(--content-div-space) / 2);
}

@media (max-width: 500px) {
    .mainContentDiv {
        flex-direction: column;
    }

    .mainContentDiv h2, .mainContentDiv .defaultSub {
        text-align: center;
    }
}


.contentSeparator {
    flex: 4;
    padding: 10px;
}

.contentImgContainer {
    flex: 1;
}

.fullImg {
    width: 100%;
}


.defaultSub {
    font-style: italic;
    font-size: 1rem;
}

.defaultP {
    font-size: 1.15rem;
}



.bigQuotes {
  text-align: center;
  position: relative;
  font-style: italic;
  quotes: "“" "”" "‘" "’";
}

/* Prettier quotation marks */
.bigQuotes::before {
  content: open-quote;
  font-size: 3rem;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
  color: var(--main-theme-color);
  font-family: Georgia, serif;
}

.bigQuotes::after {
  content: close-quote;
  font-size: 3rem;
  line-height: 0.1em;
  margin-left: 0.2em;
  vertical-align: -0.4em;
  color: var(--main-theme-color);
  font-family: Georgia, serif;
}



.defaultList {
    display: flex;
    gap: 3px;
    flex-direction: column;
    padding-left: 20px;
    margin: 10px 0;
}

.listElement {
    list-style-position: outside;
}

/* #endregion */







/* #region LANDING */


#landingDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px 0; padding: 30px;
    background-color: var(--main-back-color);
    box-shadow: var(--container-shadow);
    width: 85%;
    min-width: 305px;
    height: max-content;
    gap: 15px;
    border: var(--main-border-color) 2px solid;
    border-radius: 20px;
}


/* #endregion */







/* #region SOCIALS */

.socialDiv {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.socialLine {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: row;
}

.socialIcon {
    width: 26px;
    
}

/* #endregion */









/* #region FOOTER */

#footerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--footer-color);
    box-shadow: var(--container-shadow);
    color: var(--footer-text-color);
    padding: 25px 10px;
}

#brandDiv {
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--footer-text-color);
    text-decoration: none;
    font-size: 0.9em;
}

#brandName {
    font-family: 'Jersey10';
    font-size: 1.5em;
    color: #5cec86;
    text-shadow: 0 0 0.1em #5cec879d;
    text-decoration: underline;
}

#brandImg {
    width: 23px;
}

/* #endregion */
