


:root {

    /* #region MAIN CONTENT */

    --main-font-title: 'Komikula';
    --main-font: 'CreatoDisplay';

    --main-back-color: #ffffff;
    --main-theme-color: #4d658a;
    --main-highlight-color: #b9ffcd;

    --main-border-color: #ffffff;

    --main-btn-color: white;

    --content-div-space: 40px;

    /* #endregion */




    /* #region HEADER */

    --header-color: var(--main-theme-color);
    --header-links-gap: 25px;

    --header-dropdown-color: hsl(from var(--main-theme-color) h s calc(l + 10));

    --header-text-color: var(--main-btn-color);

    /* #endregion */



    /* #region FOOTER */

    --footer-color: #222;
    --footer-text-color: white;

    /* #endregion */




    /* #region TEXT */

    --main-text-color: black;

    /* #endregion */

}









/* #region FONTS */

@font-face {
    font-family: 'Komikula';
    src: 
        url('../assets/fonts/Komikula.ttf') format('truetype'),
        url('../assets/fonts/Komikula.otf') format('opentype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Komikula';
    src: 
        url('../assets/fonts/Komikula-Bold.ttf') format('truetype'),
        url('../assets/fonts/Komikula-Bold.otf') format('opentype');

    font-weight: bold;
    font-style: normal;
}




@font-face {
    font-family: 'CreatoDisplay';
    src: 
        url('../assets/fonts/CreatoDisplay-Regular.otf') format('opentype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jersey10';
    src: 
        url('../assets/fonts/Jersey10-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

/* #endregion */